body {
    background-color: darkgray;
}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 98vw;

}

header h1 {
    background-color: lightblue;
    width: 22vw;
    height: 18%;
    padding-right: 2%;
    margin: 30px 5px 30px 25px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
}

header h2 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: lightblue;
    width: 20%;
    padding: 1%;
    margin: 30px 70px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    flex-shrink: inherit;
    z-index: 1
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    position: absolute;
    right: 0%;
}

header li, header a {
    display: inline-block;
    color: lightblue;
    font-size: 28px;
    font-weight: bold;
    padding-top: 2%;
    margin-left: 25px;
    justify-content: flex-end;
}

header a {
    background-color: black;
    border: 3px solid lightblue;
}

header a:link, footer a:link {
    text-decoration: none;
}

header a:visited, footer a:visited {
    color: lightblue;
    text-decoration: none;
}

header li:hover, header a:hover, footer a:hover {
    text-decoration: underline;
}

header a:active, footer a:active {
    color: black;
}

header img {
    position: absolute;
    bottom: 0%;
    height: 200px;
    width: 97vw;
    margin: 0px 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    margin-top: 25px;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    margin-top: 25px;
}

div {
    display: flex;
    flex-wrap: wrap;
}

.title1 {
    width: 22%;
    height: 150px;
    border-right: 10px solid black;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    padding: 25px 35px 25px 25px;
    margin: 0px 25px;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
}

.content {
    width: 65%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

.content p {
    text-indent: 50px;
    text-align: justify;
}

.title2 {
    width: 22%;
    height: 1000px;
    border-right: 10px solid black;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    padding: 25px 35px 25px 25px;
    margin: 0px 25px;
    background-color: lightblue;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    margin-top: 25px;
    margin-bottom: 25px;
}

.title3 {
    width: 22%;
    height: 50px;
    border-right: 10px solid black;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    padding: 25px 35px 25px 25px;
    margin: 0px 25px;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
}

.big {
    position: relative;
    display: flex;
    width: 75vw;
}

.big img {
    width: 90%;
    height: 95%;
    justify-content: center;
    align-items: center;
}

.big h3 {
    position: absolute;
    bottom: 40%;
    left: 0px;
    width: 150px;
    height: 75px;
    background-color: lightblue;
    padding-right: 2%;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 1
}

.small {
    position: relative;
    display: flex;
}

.small h3 {
    position: absolute;
    bottom: 40%;
    left: 0%;
    width: 100px;
    height: 50px;
    background-color: lightblue;
    padding-right: 2%;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    z-index: 1
}

div h4 {
    background-color: black;
    color: lightblue;
    border: 3px solid lightblue;
    margin: 10px 15px 10px 0px;
    padding: 10px 5px 10px 10px;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
}

h3 a {
    text-decoration: none;
} 

@media only screen and (max-width: 1400px) {
    section {
        display: flex;
        flex-wrap: wrap;
        width: inherit;
        margin-top: 25px;
    }

    footer {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 95vw;
        margin-top;: 2%:
    }
}

@media only screen and (max-width: 1200px) {
    
    .title1 {
        width: 96vw;
        height: 8%;
        font-size: 40px;
        text-align: center;
        padding: 2%;
        margin: 0px 25px;
        background-color: lightblue;
        justify-content: center;
        align-items: center;
    }
    
    .title2 {
        width: 96vw;
        height: 8%;
        font-size: 40px;
        text-align: center;
        padding: 1%;
        margin: 0px 25px;
        background-color: lightblue;
        align-items: center;
    }

    .title3 {
        width: 95vw;
        height: 8%;
        font-size: 40px;
        text-align: center;
        padding: 1%;
        margin: 0px 25px;
        background-color: lightblue;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 96vw;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    div h4 {
        width: 96vw;
        text-align: center;
    }
}


@media only screen and (max-width: 928px) {
    
    header h2 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    
    header {
        height: 545px;
    }
    
    header h1 {
        width: 100vw;
        margin: 2% 0% 2% 2%;
        padding: 1%;
        height: 8%;
        text-align: center;
    }
    
    header ul {
        flex-direction: column;
        top: 11%;
        left:0%;
        margin: 2%;
    }

    header li, header a {
        width: 96vw;
        margin: 0%;
        text-align: center;
    }
}

@media only screen and (max-width: 752px) {
    
    header {
        height: 525px;
    }
}

@media only screen and (max-width: 662px) {
    
    header {
        height: 510px;
    }
}

@media only screen and (max-width: 648px) {
    
    header h2 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 638px) {
    
    header h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 638px) {
    
    header {
        height: 500px;
    }
}

@media only screen and (max-width: 500px) {
    
    header {
        height: 490px;
    }
}