body {
    background-color: darkgray;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%
    padding: 10px 20px;
}

header h1 {
    background-color: lightblue;
    width: 20%;
    padding-right: 2%;
    margin: 30px 20px;
    font-size: 32px;
    text-align: right;
}

header ul {
    list-style-type: none;
    margin-top: 20px;
}

header li {
    display: inline-block;
    color: lightblue;
    font-size: 28px;
    font-weight: bold;
    padding-top: 2%;
    margin-left: 25px;
}

header li:hover {
    text-decoration: underline;
}

header img {
    height: 200px;
    width: 100%;
}